.weather__humidity {
    width: 50%;
    height: calc(4vw + 20vh + 2vmin);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    border: 0;
    border-radius: 1rem;
    padding: 1rem;
    background-color: var(--color-sectionBg);
    gap: 1rem;
}

.weather__humidity-percentage {
    height: 100%;
    width: 100%;
    border: 0;
    border-radius: 1rem;
    top: 0;
    left: 0;
    float: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    z-index: 0;
}

.percentage__progress {
    position: relative;
    height: 100%;
    background-color: blue;
    border: 0;
    border-radius: 1rem;
}

.humidity__details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    z-index: 1;
}

.p__arial {
    z-index: 1;
}

.horizontal__divider {
    z-index: 1;
}