.app__camera {
    padding-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.camera__image {
    width: 50vw;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.camera__image img {
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .camera__image {
        width: 80vw;
    }
}

