.weather__today {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.today__range {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}