.weather__forecast {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 1rem;
    background-color: var(--color-sectionBg);
    padding: 2rem;
}

.forecast__days {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.grouping__day {
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 0.05rem solid rgba(255,255,255,0.1);
  }

.day__temperature {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
}

.day__details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.details__condition {
    display: flex;
    justify-content: flex-end;
    width: 300px;
    align-items: center;
}

.details__condition-image {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.details__condition-image img {
    width: 50%;
}

.details__condition-uv {
    display: inline;
    position: absolute;
    margin-right: 10rem;
}

.details__name {
    width: 3rem;
    text-align: left;
    vertical-align: baseline;
}

.day__temperature-percentage {
    display: flex;
    align-items: center;
    width: 5rem;
    height: 0.5rem;
    border-radius: 0.2rem;
    background-color: var(--color-blueNight);
}

.temperature__percentage-progress {
    position: relative;
    height: 100%;
    background-color: var(--color-blue);
    border-radius: 0.2rem;
}

@media screen and (max-width: 950px) {
    .day__temperature-percentage {
        width: 3rem;
        height: 1rem;
        margin: 0 0.5rem 0 0.5rem;

    }
}



@media screen and (max-width: 750px) {
    .day__temperature-percentage {
        width: 50px;
        height: 10px;
    }

    .details__condition-uv {
        margin-right: 7rem;
    }

}

@media screen and (max-width: 550px) {
    .day__temperature-percentage {
        width: 50px;
        height: 10px;
    }
}