.weather__forecast {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 1rem;
    background-color: var(--color-sectionBg);
    padding: 2rem;
}

.forecast__days {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.grouping__day {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 0.05rem solid rgba(255,255,255,0.1);
  }

.day__temperature {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
}

.day__details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.details__condition {
    display: flex;
    width: 50px;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
}

.details__condition-image {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.details__condition-image img {
    width: 100%;
}

.details__condition-uv {
    width: 20%;
}

.details__name {
    text-align: left;
    vertical-align: baseline;
}

.day__temperature-percentage {
    display: flex;
    align-items: center;
    width: 5rem;
    height: 0.5rem;
    border-radius: 1rem;
    background-color: #0c3356;
}

.temperature__percentage-progress {
    position: relative;
    height: 100%;
    background-color: blue;
    border-radius: 1rem;
}

@media screen and (max-width: 950px) {
    .day__temperature-percentage {
        width: 3rem;
        height: 1rem;
    }
}

@media screen and (max-width: 750px) {
    .day__temperature-percentage {
        width: 60px;
        height: 15px;
    }

    .day__temperature {
        width: 60%;
        justify-content: space-around;
    }
}

@media screen and (max-width: 750px) {
    .day__temperature-percentage {
        width: 30px;
        height: 5px;
        margin: 0 0.5rem 0 0.5rem;
    }

    .day__temperature {
        width: 40%;
        justify-content: space-around;
    }

    .details__condition p {
        font-size: 12px;
    }

    .details__condition-image {
        width: 30px;
    }

}