.weather__forecast {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 1rem;
    background-color: var(--color-sectionBg);
    padding: 2rem;
}

.forecast__days {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.grouping__day {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 0.05rem solid rgba(255,255,255,0.1);
  }

.day__temperature {
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    width: 30%;
}

.day__details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.details__condition {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    width: 60%;
}

.details__condition-image {
    width: 80%;
}

.details__condition-image > img {
    width: 50px;
}

.details__condition-uv {
    width: 20%;
}

.details__name {
    text-align: left;
    vertical-align: baseline;
}