.weather__airquality {
    width: 50%;
    height: calc(4vw + 20vh + 2vmin);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 0;
    border-radius: 1rem;
    padding: 1rem;
    background-color: var(--color-sectionBg);
    gap: 1rem;
}

.airquality__details {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.details__icon {
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
}

.details__icon > img {
    width: calc(4vw + 4vh + 2vmin);
}

.data__score {
    width: 100%;
}