.app__background {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-repeat: no-repeat;
    z-index: 1;
  }

.app__background img {
    width: 80%;
}

@media screen and (max-width: 1150px) {
    .app__background {
        top: 0;
        left: 0;
        opacity: 0.8;
        width: 60%;
    }
}

@media screen and (max-width: 850px) {
    .app__background {
        top: 0;
        left: 0 !important;
        width: 80%;
    }
}

@media screen and (max-width: 650px) {
    .app__background {
    top: 0;
    left: 0 !important;
    width: 100%;
    }
}